{% extends "recipeSite/base.html" %}
{% load static %}
{% block content %}
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
            <div class="media-body">
                <div class="article-metadata row">
                    <div class="col" style="vertical-align: middle">
                        <span style="vertical-align: middle">
                            <a class="mr-2" href="{% url 'userPosts' object.author.username %}">{{ object.author }}</a>
                            <small class="text-muted">{{ object.datePosted|date:"H:i d F, Y " }}</small>
                        </span>
                    </div>
                    <div class="col" align="right">
                        {% if object.author == user %}
                            <div class="btn-group" align="right">
                              <a href="{% url 'postUpdate' object.id %}" class="btn btn-primary"><img src="{% static 'recipeSite/images/edit.png' %}" title="Edit post" style="height: 20px"></a>
                              <a href="{% url 'postDelete' object.id %}" class="btn btn-danger delete"><img src="{% static 'recipeSite/images/discard.png' %}" title="Discard post" style="height: 20px"></a>
                            </div>
                        {% endif %}
                    </div>

                </div>

                <h1 class="article-title" href="#">{{ object.title }}</h1>
                <img class="post-img" src="{{ object.picture.url }}" style=" " >
                <h3>Ingredientes</h3>
                <ul>
                    {% for ingredients in object.ingredientList %}
                        <li class="article-content">{{ ingredients }}</li>
                    {% endfor %}
                </ul>
                <h3>Instruções</h3>
                <ul>
                    {% for instructions in object.instructionList %}
                        <li class="article-content">{{ instructions }}</li>
                    {% endfor %}
                </ul>
            </div>
        </article>

{% endblock content %}
