{% extends "recipeSite/base.html" %}
{% load static %}
{% block content %}
    <div class="content-section">
        <div class="media">
            <a href="{% url 'userPosts' user.username %}" style="color: #333333; text-decoration: none;"> <img
                    class="rounded-circle account-img"
                    src="{% if profile.image.url %}{{ profile.image.url }}{% endif %}">
                <div class="media-body">
                    {% if title %}
                        <h2 class="account-heading">{{title}}</a></h2>
                    {% else %}
                        <h2 class="account-heading">Receitas de {{ profile.user }}</a></h2>
                    {% endif %}
        </div>
        {% if user == profile.user %}
            <div class="btn-group">
                <a href="{% url 'profileEdit' %}">
                    <button type="button" class="btn btn-info" style="background-color: #9bbdd1"><img
                            src="{% static 'recipeSite/images/edit.png' %}" title="Edit profile" style="height: 22px">
                    </button>
                </a>
                <a href="{% url 'discardPic' %}">
                    <button type="button" class="btn btn-info" style="background-color: #9bbdd1"><img
                            src="{% static 'recipeSite/images/discard.png' %}" title="Discard image"
                            style="height: 22px">
                    </button>
                </a>
            </div>
        {% endif %}
    </div>
    {% block profileContent %}{% endblock %}
    </div>
{% endblock content %}
