{% extends "users/profile.html" %}
{% block profileContent %}

    {% for post in posts %}
        <article class="media content-section">
{#            <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">#}
            <div class="media-body">
                <div class="article-metadata">
{#                    <a class="mr-2" href="#">{{ post.author }}</a>#}
                    <small class="text-muted">{{ post.datePosted|date:"H:i d F, Y " }}</small>
                </div>
                <h1><a class="article-title" href="{% url 'postDetail' post.id %}">{{ post.title }}</a></h1>
                <h3>Ingridientes</h3>
                <ul>
                    {% for ingredients in post.ingredientList %}
                        <li class="article-content">{{ ingredients }}</li>
                    {% endfor %}
                </ul>
                <h3>Instruções</h3>
                <ul>
                    {% for instructions in post.instructionList %}
                        <li class="article-content">{{ instructions }}</li>
                    {% endfor %}
                </ul>
            </div>
        </article>

    {% endfor %}
    <ul class="pagination justify-content-center" style="margin-bottom: ">
        {% if is_paginated %}
            {% if page_obj.has_previous %}
                <li class="page-item"><a href="?page=1" class="page-link" aria-label="Primeira">&laquo;</a></li>
                <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" class="page-link"
                                         aria-label="Anterior">&lsaquo;</a></li>
            {% endif %}
            {% for num in page_obj.paginator.page_range %}
                {% if num == page_obj.number %}
                    <li class="page-item active"><a href="?page={{ num }}" class="page-link">{{ num }}</a></li>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <li class="page-item"><a href="?page={{ num }}" class="page-link">{{ num }}</a></li>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <li class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link"
                                         aria-label="Próxima">&rsaquo;</a></li>
                <li class="page-item"><a href="?page={{ page_obj.paginator.num_pages }}" class="page-link"
                                         aria-label="Ultima">&raquo;</a></li>
            {% endif %}
        {% endif %}
    </ul>

{% endblock profileContent %}
